{% extends "layout.html" %}
{% block content %}
<h4 style="text-align: center;" class="mb-3 mt-4">Working with Moodle part<h4></h4>
  <div style="font-size: 16px;">
    <p>Чтобы добавить студентов на курс, выберете додин из доступных курсов и группу студентов, которую хотите добавить
    </p>

    <form method="POST" action="/moodle-add" class="form-row align-items-end" style="font-size: 15px;">
      <div class="col-md-4 mr-3">
        <label for="course">Название курса</label>
        <select name="course" id="course_id_select" class="form-control">
          {% for item in courses %}

          <option value="{{ item['id'] }}">{{ item['name'] }} </option>

          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <label for="groups">Номер группы</label>
        <select name="groups" id="groups_id_select" class="form-control">
          {% for item in groups %}

          <option value="{{ item['table_id'] }}">{{ item['group'] }} </option>

          {% endfor %}
        </select>
      </div>
      <div class="col-md-4">
        <input type="submit" value="Add students" class="btn btn-primary ml-3" style="width: 130px;">
      </div>
    </form>
  </div>
  <br>
  <hr>
  <h4 style="text-align: center;" class="mb-3 mt-4">Построение графиков и отчетов<h4></h4>
    <div style="font-size: 16px;">
      <p>Чтобы построить отчет, сначала выберете курс, затем задание
      </p>

      <form method="POST" action="/moodle-make-table" class="form-row align-items-end" style="font-size: 15px;">
        <div class="col-md-3 mr-3">
          <label for="course">Название курса</label>
          <select name="course" id="course_id_report" class="form-control" onchange="getQuizzes()">
            <option selected>Выберете курс</option>
            {% for item in courses %}

            <option value="{{ item['id'] }}">{{ item['name'] }} </option>

            {% endfor %}
          </select>
        </div>
        <div class="col-md-3 mr-3">
          <label for="quiz">Задание</label>
          <select name="quiz" id="quiz_id_report" class="form-control" onchange="setGrades()">
            <option selected>Выберете задание</option>

          </select>
        </div>
        <div class="col-md-2">
          <label for="groups">Номер группы</label>
          <select name="groups" id="groups_id_report" class="form-control">
            {% for item in groups %}

            <option value="{{ item['table_id'] }}">{{ item['group'] }} </option>

            {% endfor %}
          </select>
        </div>
        <input type="text" value="0" name="sumgrades" id="sumgrades_report" style="display: none">
        <div class=" col-md-2">
          <input type="submit" value="Make table" class="btn btn-primary ml-3" style="width: 130px;">
        </div>
      </form>
    </div>
    <br>
    <hr>
    <div style="font-size: 16px;">
      <p>Чтобы построить график, сначала выберете курс, затем задание
      </p>

      <form method="POST" action="/moodle-make-chart" class="form-row align-items-end" style="font-size: 15px;">
        <div class="col-md-3 mr-3">
          <label for="course">Название курса</label>
          <select name="course" id="course_id_chart" class="form-control" onchange="getQuizzesChart()">
            <option selected>Выберете курс</option>
            {% for item in courses %}

            <option value="{{ item['id'] }}">{{ item['name'] }} </option>

            {% endfor %}
          </select>
        </div>
        <div class="col-md-3 mr-3">
          <label for="quiz">Задание</label>
          <select name="quiz" id="quiz_id_chart" class="form-control" onchange="setGradesChart()">
            <option selected>Выберете задание</option>

          </select>
        </div>
        <div class="col-md-2">
          <label for="groups">Номер группы</label>
          <select name="groups" id="groups_id_chart" class="form-control">
            {% for item in groups %}

            <option value="{{ item['table_id'] }}">{{ item['group'] }} </option>

            {% endfor %}
          </select>
        </div>
        <input type="text" value="0" name="sumgrades" id="sumgrades_chart" style="display: none">
        <div class=" col-md-2">
          <input type="submit" value="Make chart" class="btn btn-primary ml-3" style="width: 130px;">
        </div>
      </form>
    </div>

    {% endblock %}